<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>23andMeep Guest Access</title>
</head>
<body id = "guestLogin">

  <div class= "guest">
    <h1 class = "headline">Guest Sign In</h1>
    <img src = '/images/mystery-guest.png' id = "guestImage">
    <br><br>
    <form action = '/guest' method = "POST">
    <br>
    <div class = "row">
      <div class = "col-md-4 col-md-offset-1" id = "firstLabel">First Name:</div>
      <div class = "col-md-3">
        <input type = "text" name = "first" placeholder = "enter first name" class = "nameInput" id = "firstInput" required>
      </div>
    </div>
    <br>
    <div class = "row">
      <div class = "col-md-4 col-md-offset-1" id = "lastLabel">Last Name:</div>
      <div class = "col-md-3">
        <input type = "text" name = "last" placeholder = "enter last name" class = "nameInput" id = "lastInput">
      </div>
    </div>
    <br>
    <div class = "row">
      <div class = "col-md-4 col-md-offset-1" id = "genderLabel">Gender:</div>
      <div class = "col-md-3">
        <select label = "gender" name = "gender" id = "genderList" required>
          <option>female</option>
          <option>male</option>
        </select>
      </div>
    </div>
    <br><br>
    <div class = "nav">
      <button id = "guestSubmit">submit</button>
    </div>
  </form>
  </div>
<body>
</html>
