<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <title>23andMeep Create User Account</title>
</head>
<body>
  <form action = '/guest' method = "POST">
    <input type = "text" label = "first name" name = "first" placeholder = "enter first name">
    <input type = "text" label = "last name" name = "last" placeholder = "enter last name">
    <select label = "gender" name = "gender">
      <option>female</option>
      <option>male</option>
    </select>
    <button>submit</button>
  </form>
<body>
</html>
