<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <title>23andMeep Homepage</title>
</head>
<body id = "homepage">

  <div id = "welcome">
    <h1 class = "headline">Welcome to 23 and Meep!</h1>
    <br>
    <h4 class = "intro" id = "welcomeIntro">At 23andMeep we use genetic profile information from your 23andMe account, combined with
      your answers to carefully curated personality questions, to generate your super hero persona!</h4>
    <br><br>
    <div class = "nav">
      <form action = "/login" method = "GET">
        <button id = "start">Click here to get started!</button>
      </form>
    </div>
  </div>
</body>
</html>
