<html>
<head>
  <title>23andMeep Homepage</title>
</head>
<body>
  <h1>Welcome to 23 and Meep!</h1>

  <h4>At 23andMeep we use genetic profile information from your 23andme account, combined with
    your answers to carefully curated profile questions, to generate your super hero persona!</h4>
  <form action = "/login" method = "GET">
    <button class = "nav" id = "start">Click here to get started!</button>
  </form>
</body>
</html>
